form {
  display: grid;
  row-gap: 8px;
  margin: 16px;
}
#formatGroup {
  display: grid;
  grid-template-columns: min-content 100px 1fr min-content;
}
#formatGroup > * {
  margin: 4px;
}
#formatGroup > .item--default {
  grid-column: 1;
}
#formatGroup > .item--title {
  grid-column: 2;
}
#formatGroup > .item--format {
  grid-column: 3;
  font-family: monospace;
}
#formatGroup > .item--swap {
  grid-column: 4;
  position: relative;
  top: 50%;
  border-radius: 3px;
  border: 1px solid;
}
#createSubmenusRow > * {
  margin: 4px;
}
#btnGroup > * {
  margin: 4px;
}
